.top-padding {
  padding-top:40px;
}

.top-padding-60 {
  padding-top:60px;
}

.header {
  .active {
    font-weight: 900;
  }
}

.img-preview {
  display: inline-block;
  position: relative;

  .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0.5;
  }
  img {
    height: 300px;
    width: 300px;
  }
  video {
    height: 300px;
    width: 300px;
    vertical-align: middle;
    background-color: black;
  }
  .inset {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    opacity: 0.7;
    text-align: center;
    background-color: white;
    font-size: 16px;
  }
}

.image-detail {
  img, video {
    max-width: 100%;
  }
  video {
    vertical-align: middle;
    background-color: black;
  }
}

.centering {
  text-align: center;
}

.topic {
  text-align: center;
}
